<article class="cart-product">
    <div class="cart-product-info-left">
        <img class="cart-product-img" src=<%=producto.imagen %> alt="Producto">
        <p><%= producto.nombre %></p>
    </div>
    <div class="cart-product-info-right">
        <form method="POST" action="/api/cart/<%=locals.userLogged.id%>">
            <div class="hidden">
                <input type="text" value="<%= producto.id%>" name="id">
            </div>
            <button class="cart-button">Quitar</button>
        </form>
        <div class="number-input">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="input-number-left" 
            aria-label="Restar 1 producto">
                -
            </button>
            <input class="cart-product-number" type="number" value=<%= producto.cantidad %> min="1">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="input-number-right"
            aria-label="Sumar 1 producto">
                +
            </button>
        </div>
        <p class="cart-bold"><%= producto.puntos * producto.cantidad%></p>
    </div>
</article>