<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {ruta: '/css/cart.css'}) %>
    <body>
        <%- include("../partials/header", {loggedIn, searchBar: true}) %>
        <div class="cart">
            <a href="/" class="back-button">
                <i class="fa-solid fa-arrow-left"></i>
                Volver
            </a>
            <h2>Productos en tu Carrito</h2>
            <section class="cart-products">
                <%- include("../partials/cartProduct", {
                    nombre: "Jack Daniel's Tennessee Honey Botella 750mL",
                    cantidad: 1,
                    puntos: "19.900",
                    imagen: "/images/whisky.png"
                }) %>
                <%- include("../partials/cartProduct", {
                    nombre: "1 Combo Hamburguesa",
                    cantidad: 1,
                    puntos: "5.000",
                    imagen: "/images/hamburguesa.png"
                }) %>
                <%- include("../partials/cartProduct", {
                    nombre: "Coca Cola Lata 220mL Pack Original x8",
                    cantidad: 2,
                    puntos: "1.520",
                    imagen: "/images/cocacola.png"
                }) %>
            </section>
        </div>
        <%- include("../partials/footer") %>
    </body>
</html>