<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/header", {loggedIn: true}) %>
        <div class="cart">
            <a href="/" class="back-button">
                <i class="fa-solid fa-arrow-left"></i>
                Volver
            </a>
            <h2>Productos en tu Carrito</h2>
            <section class="cart-products">
                <%- include("../partials/cartProduct", {
                    nombre: "Jack Daniel's Tennessee Honey Botella 750mL",
                    cantidad: 1,
                    puntos: "19.900",
                    imagen: "/img/whisky.png"
                }) %>
                <%- include("../partials/cartProduct", {
                    nombre: "1 Combo Hamburguesa",
                    cantidad: 1,
                    puntos: "5.000",
                    imagen: "/img/hamburguesa.png"
                }) %>
                <%- include("../partials/cartProduct", {
                    nombre: "Coca Cola Lata 220mL Pack Original x8",
                    cantidad: 2,
                    puntos: "1.520",
                    imagen: "/img/cocacola.png"
                }) %>
            </section>
            <section class="cart-checkout">
                <div class="cart-checkout-total">
                    <span>Total de puntos</span>
                    <span class="cart-bold">26.420</span>
                </div>
                <a href="/checkout" class="cart-button cart-checkout-button">Ir a Pagar</a>
            </section>
        </div>
        <%- include("../partials/footer") %>
    </body>
</html>